In [1]:
import datetime

In [19]:
today_date=datetime.datetime.today()

In [20]:
today_date

datetime.datetime(2022, 1, 29, 14, 13, 52, 255475)

In [21]:
today_date-datetime.timedelta(3)

datetime.datetime(2022, 1, 26, 14, 13, 52, 255475)

In [24]:
[today_date-datetime.timedelta(x) for x in range(0,15)]

[datetime.datetime(2022, 1, 29, 14, 13, 52, 255475),
 datetime.datetime(2022, 1, 28, 14, 13, 52, 255475),
 datetime.datetime(2022, 1, 27, 14, 13, 52, 255475),
 datetime.datetime(2022, 1, 26, 14, 13, 52, 255475),
 datetime.datetime(2022, 1, 25, 14, 13, 52, 255475),
 datetime.datetime(2022, 1, 24, 14, 13, 52, 255475),
 datetime.datetime(2022, 1, 23, 14, 13, 52, 255475),
 datetime.datetime(2022, 1, 22, 14, 13, 52, 255475),
 datetime.datetime(2022, 1, 21, 14, 13, 52, 255475),
 datetime.datetime(2022, 1, 20, 14, 13, 52, 255475),
 datetime.datetime(2022, 1, 19, 14, 13, 52, 255475),
 datetime.datetime(2022, 1, 18, 14, 13, 52, 255475),
 datetime.datetime(2022, 1, 17, 14, 13, 52, 255475),
 datetime.datetime(2022, 1, 16, 14, 13, 52, 255475),
 datetime.datetime(2022, 1, 15, 14, 13, 52, 255475)]

In [23]:
import pandas as pd
data=pd.DataFrame(days)

In [25]:
data

                            0
0  2022-01-29 14:13:52.255475
1  2022-01-28 14:13:52.255475
2  2022-01-27 14:13:52.255475
3  2022-01-26 14:13:52.255475
4  2022-01-25 14:13:52.255475
5  2022-01-24 14:13:52.255475
6  2022-01-23 14:13:52.255475
7  2022-01-22 14:13:52.255475
8  2022-01-21 14:13:52.255475
9  2022-01-20 14:13:52.255475
10 2022-01-19 14:13:52.255475
11 2022-01-18 14:13:52.255475
12 2022-01-17 14:13:52.255475
13 2022-01-16 14:13:52.255475
14 2022-01-15 14:13:52.255475

In [26]:
data.columns=["Day"]

In [27]:
data.head()

                         Day
0 2022-01-29 14:13:52.255475
1 2022-01-28 14:13:52.255475
2 2022-01-27 14:13:52.255475
3 2022-01-26 14:13:52.255475
4 2022-01-25 14:13:52.255475

In [29]:
data["Day"].dt.day

0     29
1     28
2     27
3     26
4     25
5     24
6     23
7     22
8     21
9     20
10    19
11    18
12    17
13    16
14    15
Name: Day, dtype: int64

In [37]:
data.head()

                         Day
0 2022-01-29 14:13:52.255475
1 2022-01-28 14:13:52.255475
2 2022-01-27 14:13:52.255475
3 2022-01-26 14:13:52.255475
4 2022-01-25 14:13:52.255475

In [46]:
data["weekday"]=data["Day"].dt.weekday_name
data.head()

AttributeError: 'DatetimeProperties' object has no attribute 'weekday_name'

In [47]:
data.head()

                         Day
0 2022-01-29 14:13:52.255475
1 2022-01-28 14:13:52.255475
2 2022-01-27 14:13:52.255475
3 2022-01-26 14:13:52.255475
4 2022-01-25 14:13:52.255475